


    .inner {
        margin: 0 auto;
        max-width: 1020px;
        min-height: 75px;
        overflow: hidden;
        }
      
        body {
        font-family: 'Lato';
        
      }
          /*PORTFOLIO*//*PORTFOLIO*//*PORTFOLIO*//*PORTFOLIO*/
    /*PORTFOLIO*//*PORTFOLIO*//*PORTFOLIO*//*PORTFOLIO*/
    /*PORTFOLIO*//*PORTFOLIO*//*PORTFOLIO*//*PORTFOLIO*/


      #portfolio {
        background-color: #2d303a;
        overflow: hidden;
        border-bottom: 6px solid #323746;
        min-height: 864px;
      }
    
      #portfolio .inner {
          background: #2d303a ;
          
      }
/*MENU*/
    h1 {
        font-size: 30px !important;
        line-height: 18px;
        color: #666d89;
        font-family: "Lato" ;
        font-weight: 900;
        text-align: left;
    }

    h2 {
        font-size: 18px;
        line-height: 30px;
        color: #767e9e;
        font-family: "Lato";
        font-weight: 300;
        text-align: left;
    }

    .portitle {
        margin-top: 68px;
        margin-left: 40px;
        background-color: /* #2d303a*/
        
      }

      .duis {
        padding-top: 8px;
        margin: 0 0 0 40px;
        background-color: #2d303a;
        
      }

      
        .ul 
      {
        width: 100%;
        overflow: hidden;
      }

      .portfolio-menu {
        margin: 11px 0;
        padding: 0 42px;
        list-style-type: none;
        font-family: 'Lato';
      }
      .portfolio-menu li {
          display: inline-block;
      } 

      .portfolio-menu li a {
        font-size: 12px;
        line-height: 22px;
        color: #767e9e;
        font-family: "Lato", ;
        font-weight: 400;
        line-height: 22px;
        text-align: left;
        text-decoration: none;
        border-radius: 5px;
        border: 1px solid #666d89;
        padding: 2px 6px 3px 6px;
        
      }

      .currentall, .webdesign, .graphicdesign, .artwork {
        padding-right: 7px;
        
      }

      .portfolio-menu li a:hover {
          color: #c5c5c5;
          border: 1px solid #c5c5c5;
          background-color: black;
      }

      /*PORTFOLIO*/

      #portfolio ul.portfolio {
        width: 100%;
        padding: 19px 0 0 0;
        }
    
    #portfolio ul.portfolio li {
        float: left;
        display: inline;
        margin: -16px -20px 33px 40px;
        }
    
    #portfolio ul.portfolio li a {
        height: 100%;
        display: block;
        }
    
    #portfolio ul.portfolio li a:hover {
        opacity: 0.6;
        filter: alpha(opacity=60);
        -o-transition-duration: 0.5s;
        -moz-transition-duration: 0.5s;
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
        }
    
      /*========================================================================*/

      /*ABOUT US*/
      h4 {
        font-size: 18px;
        line-height: 18px;
        color: #666d89;
        font-family: "Lato";
        font-weight: 900;
        text-align: left;
      }
      
      #about {
          background-color: #f2f2f2;
          border-bottom: 6px solid #ffffff;
          overflow: hidden;
          min-height: 728px;
          
      }
      #about h4 {
          padding: 17px 0px 0px 0px;
      }
      #name {
          margin-top: 0px;
          margin-bottom: 0px;
      }

      .aboutus {
        margin-top: 68px;
        margin-left: 40px;
      }

      .fusce {
        padding-top:7px;
        padding-left: 41px;
      }

      #about p {
        width: 307px;
        height: 120px;
        font-size: 12px;
        line-height: 22px;
        color: #767e9e;
        font-family: "Lato";
        font-weight: 400;
        text-align: left;
      }
        
    #about ul {
        padding: 29px 0px 0px 20px;
        width: 100%;
        }
    
    #about ul li {
        width: 300px;
        float: left;
        display: inline;
        margin: 0 0 0 20px;
        }
    
    
    #about ul li img,
    #about ul li h4,
    #about ul li p {
        display: block;
        }
    #about ul li a {
        display: block;
        height: 100%;
        }


    .description {
        margin-top: 10px;
        margin-bottom: 0px;
    }
        
    .icon-facebook, .icon-gplus, .icon-twitter, .icon-linkedin {
        float: left;
    }

    .icon-facebook {
        background: url("/assets/profile/icon-facebook.png") no-repeat; 
        height: 35px; 
        width: 34px; 
        padding:0px 0px 0px 0px;
        margin:-55px 0px 0px 0px;
        
      }
      .icon-gplus {
        background: url("/assets/profile/icon-gplus.png") no-repeat; 
        height: 35px; 
        width: 34px; 
        padding:0px 0px 0px 0px;
        margin:-55px 0px 0px 40px;
      }
      .icon-twitter {
        background: url("/assets/profile/icon-twitter.png") no-repeat; 
        height: 35px;
        width: 34px; 
        padding:0px 0px 0px 0px;
        margin:-55px 0px 0px 79px;
      }
      .icon-linkedin {
        background: url("/assets/profile/icon-linkedin.png") no-repeat; 
        height: 35px; 
        width: 34px; 
        padding:0px 0px 0px 0px;
        margin:-55px 0px 0px 119px;
      }
      
        
      .icon-facebook:hover {
        background: url("/assets/profile/facebook.png") no-repeat; /* новое изображение */
        height: 35px; /* высота изображения */
        width: 34px; /* ширина изображения */
      }
      .icon-gplus:hover {
        background: url("/assets/profile/gplus.png") no-repeat; /* новое изображение */
        height: 35px; /* высота изображения */
        width: 34px; /* ширина изображения */
      }
      .icon-twitter:hover {
        background: url("/assets/profile/twitter.png") no-repeat; /* новое изображение */
        height: 35px; /* высота изображения */
        width: 34px; /* ширина изображения */
      }
      .icon-linkedin:hover {
        background: url("/assets/profile/linkedin.png") no-repeat; /* новое изображение */
        height: 35px; /* высота изображения */
        width: 34px; /* ширина изображения */
      }