

body {
  margin: 0;
  height: 1195px;
  width: 1020px;
  background: black;
}

.header, .main, .footer {
  font-size: 1.5rem;
  overflow: hidden;
}
  .header {
  height: 95px;
  background: #2d303a;
  padding-left: 100px;
}

main {
  height: 600px;
  background: #f06c64;
}

footer {
  height: 500px;
  background: #f2f2f2;
}